<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h5>

            <a href="/">Go back</a>
        </h5>
    </div>
</body>
</html>